.gridContainer {
  display: grid;
  grid-template-columns: 40% auto;
  padding: 3%;
}

.gridrow {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.gridItem {
  text-align: center;
}

.gridItem2 {
  padding: 3%;
  text-align: justify;
  align-content: flex-start;
}

.gridItem3 {
  margin-top: 100%;
  margin-bottom: auto;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  
}

.titulo {
  font-size: larger;
  font-weight: bold;
  font-family: Futura;
}

.subtitulo {
  font-weight: lighter;
  font-family: Futura;
  color: grey;
}

.categoria {
  color: rgb(6, 181, 239);
  font-family: Futura;
  font-weight: lighter;
}

i {
  font-size: 200%;
  color: rgb(6, 181, 239);
}

p{
    font-weight: bold;
}

.sombra{
    -webkit-box-shadow: 10px 10px 11px -5px rgba(136,139,141,1);
    -moz-box-shadow: 10px 10px 11px -5px rgba(136,139,141,1);
    box-shadow: 10px 10px 11px -5px rgba(136,139,141,1);
}
