.main{
    width: 100%;
    text-align:center;
}

.titulo{
    font-family: Futura;
    font-size:30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;;
}

.imagen{
    height: 300px;
    width: auto;
}

