.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .block{
      padding-top: 5%;
  }

  h1{
      text-align: center;
  }
  
  hr{
      margin-left: 10%;

      margin-right: 10%;
  }
 

  .lista{
      margin-top: 5%;
  }

  .addBoton{      
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    bottom: 0%;
    right: 0%;
    border-radius: 50%;
  }