.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .block{
      padding-top: 5%;
  }

  h1{
      text-align: center;
  }
  
  hr{
      margin-left: 5%;

      margin-right: 5%;
  }
 

  .lista{
      margin-top: 5%;
  }