.gridContainer {
  display: flex;
  flex-direction: column;
  
  -webkit-box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  width: 40%;
  
}
.flex{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 0%
}
.superflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.gridItem1 {
  padding: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.gridItem3 {
  padding: 5%;
  margin-bottom: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: center;
  
}

.gridItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0%;
  font-size: 150%;
}

.imagen {
  max-width: 200px;
  height: auto;
  -webkit-box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.72);
  border-radius: 50%;
}




