.gridContainer {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 3%;
    padding-left: 10%;
  }

  .gridItem1 {
    text-align: justify;
    align-content: center;
    
  }

  .gridItem2{
    padding-left: 20%;
    text-align: justify;
    align-content: center;
  }

  img {
    max-width: 80%;
    height: auto;
    -webkit-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);
-moz-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);
box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);
border-radius: 50%;
  }

  .block{
    display: block;
    
}