.gridContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
  }

  .main{
    position: relative !important;
    width: auto;
    height: auto;
    margin-bottom: 10%;
    margin-top: 3%;
}

.Header{
  display: grid;
  grid-template-columns:repeat(5, 17%);
  margin-top: 3%;
  padding: 2%;
  grid-gap: 3%;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(6, 181, 239);
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}