.gridContainer {

    display: grid;
    grid-template-columns:repeat(1, 100%);
    grid-gap: 3%;
    justify-content: center;
    align-items: center;
  }

  .main{
    position: relative !important;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.item1 {
  grid-column: 1 / span 2;
}