.root{
    flex-grow: 1;
  }

.appbar{
    background: rgb(45,217,154);
background: linear-gradient(90deg, rgba(45,217,154,1) 50%, rgba(103,210,171,1) 100%) !important;

}

title{
    flex-grow: 1,
  }


.boton{
    float: right !important;
  }

  .linked{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .linked2{
    color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }