.root{
    flex-grow: 1;
  }

.appbar{
background: green !important;

}

title{
    flex-grow: 1,
  }


.boton{
    float: right !important;
  }

  .linked{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .linked2{
    color: green;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }