.root {
  flex-grow: 1;
}

.appbar {
  background: rgb(6, 181, 239);
  background: linear-gradient(
    90deg,
    rgba(6, 181, 239, 1) 60%,
    rgba(92, 214, 255, 1) 100%
  ) !important;
}

title {
  flex-grow: 1;
  font-family: Futura !important;
  font-weight: bold !important;
}

.boton {
  float: right !important;
}


.linked {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Futura ;
  font-weight: medium ;

}
.linked2 {
  color: rgb(6, 181, 239);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Futura ;
  font-weight: medium ;
}
