.block{
    display: block;
    align-items: center;
    padding-top: 3%;
    -webkit-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);
-moz-box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);
box-shadow: 10px 10px 29px -13px rgba(0,0,0,0.72);


}
.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 3%;
  }

  .gridItem1 {
    text-align: justify;
    align-content: center;
    
  }

