.gridContainer {
    display: grid;
    grid-template-columns:repeat(5, 17%);
    padding: 2%;
    grid-gap: 3%;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
    border-radius: 10px;
  }

  .gridContainer img{
    border-radius: 50%;
    height: auto;
    width: 100px;
  }

  .item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  