.hidden {
    display: none;
}

@media screen and (max-width: 599px) {
    .grid {
        grid-template-columns:100%;
        display: grid
    }

    .item1 {
        grid-row: 2;
        grid-column: span 1;
        margin: 4% 4%;
        font-size: 21px;
        color: #888b8d;
        align-items: center;
        align-content: center;
    }

    .item1 img{
        max-width: 100%;
        height: auto;
        margin-top: 25%;
    }

    .item2 {
        grid-row: 1;
        grid-column: span 1;
        margin: 4% auto;
        width: 100%;
    }

    .form {
        margin: auto;
        text-align: center
    }

    .input {
        margin: auto auto 5%;
        font-size: 14px;
        width: 80%;
        padding: 3%;
        resize: none;
        background: white;
        border: none;
        box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
        border-radius: 10px;
        outline: none;
        font-family: Futura;
        color: #888b8d
    }

    .subtitulo {
        color: rgb(6,181,239);
        font-size: 21px;
        text-align: center;
        font-family: Futura;
        margin-bottom: 25px
    }

    .icono {
        height: 24px;
        margin-right: 6px
    }

    .texto {
        font-size: 14px;
        color: #6c6d6d
    }

    .link {
        color: #e60000
    }

    .blog {
        font-size: 21px;
        float: right;
        color: #888b8d;
        font-family: Futura;
        text-decoration: none
    }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
    .grid {
        grid-template-columns:repeat(2, 50%);
        display: grid
    }

    .item1 {
        grid-column: span 1;
        margin: 4% 4%;
        font-size: 21px;
        color: #888b8d;
        align-items: center;
        align-content: center;
    }
    .item1 img{
        max-width: 100%;
        height: auto;
        margin-top: 25%;
    }
    

    .item2 {
        grid-column: span 1;
       
        width: 100%;
    }

    .form {
        margin: auto;
        text-align: center
    }

    .input {
        margin: auto auto 5%;
        font-size: 14px;
        width: 80%;
        padding: 3%;
        resize: none;
        background: white;
        border: none;
        box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
        border-radius: 10px;
        outline: none;
        font-family: Futura;
        color: #888b8d;
    }

    .subtitulo {
        color: rgb(6,181,239);
        font-size: 21px;
        text-align: center;
        font-family: Futura;
        margin-bottom: 25px
    }

    .icono {
        height: 24px;
        margin-right: 6px
    }

    .texto {
        font-size: 14px;
        color: #6c6d6d
    }

    .link {
        color: #e60000
    }

    .blog {
        font-size: 21px;
        float: right;
        color: #888b8d;
        font-family: Futura;
        text-decoration: none
    }
}

@media screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
        display: grid;
        width: 100%
    }

    .item1 {
        grid-column: span 1;
        margin: 5% 0;
        font-size: 24px;
        color: #888b8d;
        width: 90%;
        align-items: center;
        align-content: center;
    }

    .item1 img{
        max-width: 100%;
        height: auto;
        margin-top: 25%;
    }

    .item2 {
        grid-column: span 1;
       
        width: 100%;
    }

    .form {
        margin: 0;
        text-align: center;
    }

    .input {
        margin: auto auto 5%;
        font-size: 16px;
        width: 80%;
        padding: 3%;
        resize: none;
        background: white;
        border: none;
        box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
        border-radius: 10px;
        outline: none;
        font-family: Futura;
        color:  #888b8d;
    }

    .subtitulo {
        color: rgb(6,181,239);
        font-size: 24px;
        text-align: center;
        font-family: Futura;
        margin-bottom: 30px
    }

    .icono {
        height: 24px;
        margin-right: 6px
    }

    .texto {
        font-size: 16px;
        color: #6c6d6d;
    }

    .link {
        color: #e60000
    }

    .blog {
        font-size: 24px;
        float: right;
        color: #888b8d;
        font-family: Futura;
        text-decoration: none;
    }

    .checkbox {
        margin-bottom: 30px;
    }

    .item3{
        display: flex;
        margin: 5% 0;
        font-size: 24px;
        color: #888b8d;
        width: 90%;
        align-items: center;
        align-content: center;
    }

}