@font-face {
	font-family: "Futura";
  src: url(../src/assets/Fonts/futura-book-bt-22240.ttf) format("truetype");
  src: url(../src/assets/Fonts/futura-condensed-bolditalic.ttf) format("truetype");
  src: url(../src/assets/Fonts/futurabq-medium.otf) format("truetype");
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Futura;

}
p{
  font-family: Futura;
}