.gridContainer {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-columns: auto;
  align-items: flex-start;
  word-wrap: break-word;
  box-shadow: 7px 6px 23px -8px rgba(173, 173, 173, 1);
}

.item1 {
  grid-column: 1 / span 2;
  
}

.bloque {
  margin-top: 10%;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-left: 10%;
  width: 300px;
  height: auto;
  word-wrap: break-word;
}

.bloque2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.CancelBoton{      
  position: -webkit-sticky; /* Safari */
  position: sticky !important;
  bottom: 0%;
  right: 0%;
  border-radius: 50%;
}